/* Cursor */
.typed-cursor {
  color: red;
}

/* If fade out option is set */
/* .typed-fade-out {
  color: red;
} */


// #typed{
//   font-size: 2rem !important;
// }

// chenge both font-size's
.abluble{
  font-size: 2rem !important;
}