/* Cursor */
.typed-cursor {
  color: red;
}

/* If fade out option is set */
/* .typed-fade-out {
  color: red;
} */


// #typed{
//   font-size: 2rem !important;
// }

// chenge both font-size's
.abluble{
  font-size: 2rem !important;
}


// .typed-card{
//    font-size: 1.1rem;
// }

#teste-card{
  min-height: 96px !important;
}


.counters{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(64, 180, 64);
  padding: 2rem;
  border-radius: 30px;
}

.counters span{
  font-size: 36px;
  display: inline-block;
  font-weight: 600;
  color: #0b198f;
}