*{
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

.general-section{
  position: relative;
  width: 100%;
  min-height: 500px;
  color: #FFF ;
}

.carousel-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-container .carousel{
  max-width: 600px;
}

.carousel-container img {
  opacity: .65;
  
}

.svgInicio{
  z-index: 0;
  svg{
    position: absolute;
    bottom: 0;
    margin-bottom: -1% !important;
    z-index: -1;
  }
}