.general-section{
  position: relative;
  width: 100%;
  min-height: 500px;
  color: #FFF ;
}

.carousel-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-container .carousel{
  max-width: 600px;
}

.carousel-container img {
  opacity: .65;
  
}

.svgInicio{
  *{
    margin: 0 !important;
    padding: 0 !important;
  }
  z-index: 0;
  svg{
    position: absolute;
    bottom: 0;
    margin-bottom: -1% !important;
    z-index: -1;
  }
}

.sizingSvg{
  transform: scaleY(.8);
  transform-origin: bottom;
}

.entry-section{
  min-height: 600px;
  z-index: 0;
  position: relative;
  background-color: rgb(219, 219, 219);
  *{
    z-index: 1;
  }
  svg{
    position: absolute;
    width: 20%;
    left: 30px;
    z-index: 0;
    top: 5px;
  }
}

