.content * {
    z-index: 1;
}
.main-box{
    margin-top: 7rem;
    position: relative;
}
.main-box svg{
    color: red;
    position: absolute;
    bottom: 0;
    left: 0;

    margin: 0;
    padding: 0;
    z-index: 0;
}

/* CSS OPACITY SVG */

.custom-shape-divider-top-1645103114 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1645103114 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1645103114 .shape-fill {
    fill: #FF3F3F;
}

/* END CSS OPACITY SVG */

/* resizing svg */
.resizingSVG{
    transform: scaleY(.4);
    transform-origin: top;
}

.blob-01, .blob-02, .blob-03{
    position: absolute;
    height: auto;
    z-index: 0;
}

.blob-01{
    width: 20%;
    left: 100px;
    right: 0;
    top: 0;
}

.blob-02{
    width: 40%;
    right: 0;
    top: 10px;
}

.blob-03{
    width: 200px;
    left: 200px;
}


.md-svg {
    transform: scaleY(.6);
    transform-origin: bottom;
}


.svg_background{
    background-image: url("./blob.svg");
    width: 300px;
    height: 300px;
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.content-div{
    z-index: 10;
}

.backdiv{
    width: 100%;
    min-height: 600px;
    background-color: rgb(0, 143, 136);
}

#svggdt{
    position: absolute;
    right: 0;
    top: 0;
    width: 150px;
}











