

.navContainer
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  color: #FFF;
}

.navItems
{
  flex-grow: 1;
  display: flex;
  list-style-type: none;
  margin: 0;
}

.navItem
{
  margin: 0 1rem .5rem 0;
  font-size: 1.1rem;
}

.toggleButton
{
  display: none !important;
  border: none;
  background-color: transparent;
  padding: 0;
  color: #FFF;
  font-size: 2rem;
  outline: 0;
}

@media screen and (max-width: 576px)
{
  .toggleButton
  {
    display: flex !important;
    align-items: center;
  }
}